[Desktop Entry]
Encoding=UTF-8
Name=Wiki
Comment=Wiki P2P Cryptocurrency
Comment[fr]=Wiki, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Wiki, eşten eşe kriptografik sanal para birimi
Exec=wiki-qt %u
Terminal=false
Type=Application
Icon=wiki128
MimeType=x-scheme-handler/wiki;
Categories=Office;Finance;
